<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "profile.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Ruby on Rails</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Productos</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Acerca de mi</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Andrés M. Caicedo R.</h3>
                <p class="text-justify"> Soy un estudiante de ingeniería informatica de la Institución universitaria Colegio Mayor del Cauca, con capacidades y aptitudes para la programación, las redes de datos y con gusto por el deporte. Creo que el trabajo en equipo es esencial para llevar a cabo con éxito los proyectos en los que trabajemos.</p>
            </div>
            <div class="col-lg-4">
                <h3>Habilidades</h3>
                <ul>
                    <li>Android</li>
                    <li>CCNA1</li>
                    <li>CCNA2</li>
                    <li>Ruby on Rails</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "amcaicedo@unimayor.edu.co", "Contactame", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>